<div>
  <h1><b>About Me</b></h1>
  <p>
    For many years now I have had an interest in computer science and technology and it has become a
    strong passion of mine and a career in which I would like to grow in and learn more about.
    My ideal goal in life is to eventually be a very successful software developer.
    I would like to think of “going to work” as being a passion and not work.
  </p>
</div>

<div>
  <h1><b>Education</b></h1>

  <p>
    <b>Institution:</b> 			George Campbell School of Technology<br />
    <b>Year attended:</b> 		Jan 2005 – Dec 2009<br />
    <b>Qualification:</b> 		Matric<br /><br />


    <b>Institution:</b> 			Durban University of Technology<br />
    <b>Years attended:</b> 		Jan 2014 – Dec 2016<br />
    <b>Qualification:</b> 		National Diploma in Information Technology<br />
    <b>Major:</b> 			Software development<br /><br />


    <b>Program:</b>			Mentoring program<br />
    <b>Years attended:</b> 		June 2020 – Current<br />
    <b>Mentored by:</b>			Lee-Roy Ashworth<br />
    <b>Details:</b>	I have taken interest into Devops to help me become a better software developer and grow my skill set for the future.<br />
    The skills I have learned from Lee-Roy has helped me with some of my day to day challenges and change the way I see problems.<br />
    I’ve become more hands on with Azure Devops and automating some of my development tasks.<br />
    I have also realized that I have a lot more to learn and would love to work in a Devops team.<br />
    <b>Skills I have learned:</b><br />
    - Azure Devops<br />
    -	Docker and Kubernetes<br />
    -	Git<br /><br />
  </p>
</div>

<div>
  <h1><b>Work Experience</b></h1>

  <p>
    <b>Job title:</b> 			Waiter<br />
    <b>Experience:</b> 			Jan 2010 to Nov 2010<br />
    <b>Company:</b> 			Spur (South way Mall)<br />
    <b>Tasks:</b> 	Taking customer orders and ensuring that meals are served and the customer has everything he/she requires to enjoy the meal.<br /><br />

    <b>Title:</b> 				Data Capturer<br />
    <b>Experience:</b> 			Nov 2010 to Nov 2011<br />
    <b>Company:</b> 			Kelly (FNB Project)<br />
    <b>Tasks:</b>
    - capturing of various documents for the creation of banking details<br />
    -	Signature digitization and assigning rights for each bank account<br />
    -	Verifying documents captured by fellow-workers by cross checking information provided by a government system<br />
    -	Preparation of documents for scanning<br /><br />
  </p>
</div>
